<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRUD Nodejs y MongoDb</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
<div class="container">

    <div class="row">
      <!--FORM-->
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <form action="/search" method="post">
              <div class="form-group">
                <input class="form-control" type="text" name="url" placeholder="URL" value="<%= url %>">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="search"  value="<%= search %>"
                  placeholder="introduzca termino a buscar o * para buscar todo"
                  ></input>
              </div>
              <button class="btn btn-primary" type="submit">
                Buscar
              </button>
            </form>
          </div>
        </div>
      </div>
      </div>

      <div class="col-md-7">
          <% if(fromCache) { %>
        <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>N°</th>
                <th>Titulo</th>
                <th>Description</th>
                <th>Nº repeticiones</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i in response) { %>
                <tr>
                  <td><%= (i) %></td>
                 
                  <td><%= response[i].url %></td>
                  <td><%= response[i].description %></td>
                  <td><%= response[i].ocurrences %></td>
                 </tr>
                 <% } %>
            </tbody>
            </table>
       <% }else { %>

        No teniamos esta información disponible, se está calculando ahora, consulte en unos instantes e irá obteniendo resultados.


        <% } %>
      </div>     

      </div>

    
      </body>
      </html>