<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRUD Nodejs y MongoDb</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
<div class="container">

    <div class="row">
      <!--FORM-->
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <form action="/search" method="post">
              <div class="form-group">
                <input class="form-control" type="text" name="url" placeholder="URL">
              </div>
              <div class="form-group">
                <textarea class="form-control" name="search" cols="80"
                  placeholder="introduzca termino a buscar o * para buscar todo"
                  ></textarea>
              </div>
              <button class="btn btn-primary" type="submit">
                Buscar
              </button>
            </form>
          </div>
        </div>
      </div>
      </div>

      </div>
      </body>
      </html>